<a href="https://colab.research.google.com/github/ohong82/Test_Python_Code_20181112/blob/master/Analytics_with_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x=9
print("Output #4: {0}".format(x))
print("Output #5: {0}".format(3*4))
print("Output #6: {0}".format(int(8.3)/int(2.7)))

print("\n")
print("Check #6-1: {0}".format(int(8.3)))
print("Check #6-2: {0}".format(int(2.7)))
print("Check #6-3: {0}".format(int(-1.7)))
print("Check #6-4: {0}".format(int(-1.3)))

Output #4: 9
Output #5: 12
Output #6: 4.0


Check #6-1: 8
Check #6-2: 2
Check #6-3: -1
Check #6-4: -1

In [0]:
print("Output #7: {0:.3f}".format(8.3/2.7))
y = 2.5 * 4.9
print("Output #8: {0:.10f}".format(y))
r = 8/float(3)
print("Output #9: {0:.2f}".format(r))
print("Output #10: {0:.4f}".format(8.0/3))

print("\n")
print("Check #10-1: {0:.4f}".format(8/3))

Output #7: 3.074
Output #8: 12.2500000000
Output #9: 2.67
Output #10: 2.6667


Check #10-1: 2.6667

In [0]:
# from math import exp, log, sqrt 를 빼먹으면.... 오류남
#print("Output #11: {0:.4f}".format(exp(3)))
#print("Output #12: {0:.2f}".format(log(4)))
#print("Output #13: {0:.1f}".format(sqrt(81)))

In [0]:
from math import exp, log, sqrt

print("Output #11: {0:.4f}".format(exp(3)))
print("Output #12: {0:.2f}".format(log(4)))
print("Output #13: {0:.1f}".format(sqrt(81)))

Output #11: 20.0855
Output #12: 1.39
Output #13: 9.0

In [0]:
string1 = "My deliverable is due in May"
string1_list1 = string1.split()
string1_list2 = string1.split(" ", 2)
print("Output #21: {0}".format(string1_list1))
print("Output #22: First Piece:{0} Second Piece:{1} Third Piece:{2}"\
      .format(string1_list2[0], string1_list2[1], string1_list2[2]))

string2 = "Your,deliverable,is,due,in,June"
string2_list = string2.split(',')
print("Output #23: {0}".format(string2_list))
print("Output #24: {0} {1} {2}".format(string2_list[1], string2_list[5],\
                                       string2_list[-1]))

Output #21: ['My', 'deliverable', 'is', 'due', 'in', 'May']
Output #22: First Piece:My Second Piece:deliverable Third Piece:is due in May
Output #23: ['Your', 'deliverable', 'is', 'due', 'in', 'June']
Output #24: deliverable June June

In [0]:
print("Output #25: {0}".format(' '.join(string2_list)))

Output #25: Your deliverable is due in June

In [0]:
string3 = " Remove  unwanted characters   from this string.\t\t   \n"
print("Output #26: string3: {0:s}".format(string3))
string3_lstrip = string3.lstrip()
print("Output #27: lstrip: {0:s}".format(string3_lstrip))
string3_rstrip = string3.rstrip()
print("Output #28: rstrip: {0:s}".format(string3_rstrip))
string3_strip = string3.strip()
print("Output #29: strip: {0:s}".format(string3_strip))

Output #26: string3:  Remove  unwanted characters   from this string.

Output #27: lstrip: Remove  unwanted characters   from this string.

Output #28: rstrip:  Remove  unwanted characters   from this string.
Output #29: strip: Remove  unwanted characters   from this string.

In [0]:
string4 = "$$Here's another string that hasunwanted characters.__---++"
print("Output #30: {0:s}".format(string4))
string4 = "$$The unwanted characters have been removed.__---++"
string4_strip = string4.strip('$_-+')
print("Output #31: {0:s}".format(string4_strip))

## __--- 은 좀더 연구가 필요할듯...

Output #30: $$Here's another string that hasunwanted characters.__---++
Output #31: The unwanted characters have been removed.

In [0]:
## replace

string5 = "Let's replace the spaces in this sentence with ohter characters."
string5_replace = string5.replace(" ", "!@!")
print("Output #32 (with !@!): {0:s}".format(string5_replace))
string5_replace = string5.replace(" ",",")
print("Output #33 (with commas): {0:s}".format(string5_replace))

Output #32 (with !@!): Let's!@!replace!@!the!@!spaces!@!in!@!this!@!sentence!@!with!@!ohter!@!characters.
Output #33 (with commas): Let's,replace,the,spaces,in,this,sentence,with,ohter,characters.

In [0]:
## lower, upper, capitalize

string6 = "Here's WHAT Happens WHEN You Use lower."
print("Output #34: {0:s}".format(string6.lower()))
string7 = "Here's what Happens when You Use UPPER"
print("Output #35: {0:s}".format(string7.upper()))
string5 = "here's WHAT Happens WHEN you use Capitalize."
print("Output #36: {0:s}".format(string5.capitalize()))
string5_list = string5.split()
print("Output #37 (on each word):")
for word in string5_list:
  print("{0:s}".format(word.capitalize()))

Output #34: here's what happens when you use lower.
Output #35: HERE'S WHAT HAPPENS WHEN YOU USE UPPER
Output #36: Here's what happens when you use capitalize.
Output #37 (on each word):
Here's
What
Happens
When
You
Use
Capitalize.

In [0]:
import re

# 문자열 내에 등장하는 패턴의 횟수를 세기
string = "The quick brown fox jumps over the lazy dog"
string_list = string.split()
pattern = re.compile(r"The", re.I)
count = 0
for word in string_list:
  if pattern.search(word):
    count+= 1
print("Output #38: {0:d}".format(count))

Output #38: 2

In [0]:

# 문자열 내에서 발견된 패털 출력하기
string = "The quick brown fox jumps over the lazy dog."
string_list = string.split()
pattern = re.compile(r"(?P<match_word>The)", re.I)
print("Output #39:")
for word in string_list:
  if pattern.search(word):
    print("{:s}".format(pattern.search(word).group('match_word')))

Output #39:
The
the

In [0]:
# 문자열 내 "The"를 "a"로 대체하기
string = "The quick brown fox jumps over the lazy dog."
string_to_find = r"The"
pattern = re.compile(string_to_find, re.I)
print("Output #40: {:s}".format(pattern.sub("a",string)))

Output #40: a quick brown fox jumps over a lazy dog.

In [0]:
#!/usr/bin/env python3
from math import exp, log, sqrt
import re
from datetime import date, time, datetime, timedelta

# 오늘 날짜와 년, 월, 일 요소들을 출력하기
today = date.today()
print("Output #41: today: {0!s}".format(today))
print("Output #42: {0!s}".format(today.year))
print("Output #43: {0!s}".format(today.month))
print("Output #44: {0!s}".format(today.day))
current_datetime = datetime.today()
print("Output #45: {0!s}".format(current_datetime))

Output #41: today: 2018-11-09
Output #42: 2018
Output #43: 11
Output #44: 9
Output #45: 2018-11-09 04:40:50.648030

In [0]:
# timedelta 함수를 이용하여 새로운 날짜 계산하기
one_day= timedelta(days=-1)
yesterday = today + one_day
print("Output #46: yesterday: {0!s}".format(yesterday))
eight_hours = timedelta(hours=-8)
print("Output #47: {0!s} {1!s}".format(eight_hours.days, eight_hours.seconds))

Output #46: yesterday: 2018-11-08
Output #47: -1 57600

In [0]:
# 두 날짜 사이의 날짜 차이를 계산하기
date_diff = today - yesterday
print("Output #48: {0!s}".format(date_diff))
print("Output #49: {0!s}".format(str(date_diff).split()[0]))

Output #48: 1 day, 0:00:00
Output #49: 1

In [0]:
# date 객체를 특정 형식의 문자열로 만들기
print("Output #50: {:s}".format(today.strftime('%m/%d/%Y')))
print("Output #51: {:s}".format(today.strftime('%b %d, %Y')))
print("Output #52: {:s}".format(today.strftime('%Y-%m-%d')))
print("Output #53: {:s}".format(today.strftime('%B %d, %Y')))

Output #50: 11/09/2018
Output #51: Nov 09, 2018
Output #52: 2018-11-09
Output #53: November 09, 2018

In [0]:
# 날짜 문자열로부터 특정 형식의 datetime 객체를 생성하기
date1 = today.strftime('%m/%d/%Y')
date2 = today.strftime('%b %d, %Y')
date3 = today.strftime('%Y-%m-%d')
date4 = today.strftime('%B %d, %Y')

# 다른 date 형식을 지닌 4가지 문자열에 기반한
# 각각 2종류의 datetime객체들과 date객체들
print("Output #54: {!s}".format(datetime.strptime(date1, '%m/%d/%Y')))
print("Output #55: {!s}".format(datetime.strptime(date2, '%b %d, %Y')))

#날짜 부분만 출력하기
print("Output #56: {!s}".format(datetime.date(datetime.strptime(date3, '%Y-%m-%d'))))
print("Output #57: {!s}".format(datetime.date(datetime.strptime(date4, '%B %d, %Y'))))

Output #54: 2018-11-09 00:00:00
Output #55: 2018-11-09 00:00:00
Output #56: 2018-11-09
Output #57: 2018-11-09

In [0]:
# 리스트를 만들기 위해 대괄호를 사용한다.
# len() 함수를 통해 리스트 내 원소의 수를 센다.
# max() 함수와 min() 함수는 최대/최소 값을 찾는다.
# count() 함수는 리스트 내 특정 값이 등장한 횟수를 센다.
a_list = [1,2,3,4,5,6,7,8]
print("Output #58: {}".format(a_list))
print("Output #59: a_list has {} elements.".format(len(a_list)))
print("Output #60: the maximum value in a_list is {}.".format(max(a_list)))
print("Output #61: the minimum value in a_list is {}.".format(min(a_list)))
another_list = ['printer',5,['star','circle',9,5],5]
print("Output #62: {}".format(another_list))
print("Output #63: another_list alos has {} elements.".format(len(another_list)))
print("Output #64: 5 is in another_list {} time.".format(another_list.count(5)))

# check
print("Check 1: {}".format(a_list[~3]))
print("Check 2: {}".format(a_list[-3]))

Output #58: [1, 2, 3, 4, 5, 6, 7, 8]
Output #59: a_list has 8 elements.
Output #60: the maximum value in a_list is 8.
Output #61: the minimum value in a_list is 1.
Output #62: ['printer', 5, ['star', 'circle', 9, 5], 5]
Output #63: another_list alos has 4 elements.
Output #64: 5 is in another_list 2 time.
Check 1: 5
Check 2: 6

In [0]:
# 리스트내 특정 원소에 접근하려면 인덱스 이용하기
# [0]은 첫 번째 원소이다. [-1]은 마지막 원소이다.
print("Output #65: {}".format(a_list[0]))
print("Output #66: {}".format(a_list[1]))
print("Output #67: {}".format(a_list[2]))
print("Output #68: {}".format(a_list[-1]))
print("Output #69: {}".format(a_list[-2]))
print("Output #70: {}".format(a_list[-3]))
print("Output #71: {}".format(a_list[2]))
print("Output #72: {}".format(another_list[-2]))

Output #65: 1
Output #66: 2
Output #67: 3
Output #68: 8
Output #69: 7
Output #70: 6
Output #71: 3
Output #72: ['star', 'circle', 9, 5]

In [0]:
# 리스트 분할을 사용하여 리스트 원소들의 부분집합 만들기
# 맨 앞부터 분할하는 경우, 최초 인덱스를 생성한다.
# 맨 뒤까지 리스트를 분할하는 경우, 마지막 인덱스틑 생략한다.
print("Output #73: {}".format(a_list[0:2]))
print("Output #74: {}".format(another_list[:2]))
print("Output #75: {}".format(a_list[1:3]))
print("Output #76: {}".format(another_list[1:]))

Output #73: [1, 2]
Output #74: ['printer', 5]
Output #75: [2, 3]
Output #76: [5, ['star', 'circle', 9, 5], 5]

In [0]:
# [:]를 이용하여 리스트 복사하기
a_new_list = a_list[:]
print("Output #77: {}".format(a_new_list))

check_list = a_new_list
check_list_pop = check_list.pop()

print("Check 1: {}".format(a_new_list))
print("Check 1: {}".format(check_list))
print("Check 1: {}".format(a_list))

Output #77: [1, 2, 3, 4, 5, 6, 7, 8]
Check 1: [1, 2, 3, 4, 5, 6, 7]
Check 1: [1, 2, 3, 4, 5, 6, 7]
Check 1: [1, 2, 3, 4, 5, 6, 7, 8]

In [0]:
# + 연산자를 이용하여 2개 이상의 리스트를 병합하기
a_longer_list = a_list + another_list
print("Output #78: {}".format(a_longer_list))

Output #78: [1, 2, 3, 4, 5, 6, 7, 8, 'printer', 5, ['star', 'circle', 9, 5], 5]

In [0]:
# in과 not in 을 이용하여 특정 원소의 리스트 내 포함 여부를 확인하기
a = 2 in a_list
print("Output #79: {}".format(a))
if 2 in a_list:
  print("Output #80: 2 is in {}.".format(a_list))
b = 9 not in a_list
print("Output #81: {}".format(b))
if 9 not in a_list:
  print("Output #82: 9 is not in {}.".format(a_list))

Output #79: True
Output #80: 2 is in [1, 2, 3, 4, 5, 6, 7, 8].
Output #81: True
Output #82: 9 is not in [1, 2, 3, 4, 5, 6, 7, 8].

In [0]:
# append() 함수를 이용하여 리스트의 마지막에 원소를 추가하기
# remove() 함수를 이용하여 리스트 내 특정 원소를 제거하기
# pop() 함수를 이용하여 리스트의 마지막 원소를 제거하기
a_list.append(5)
a_list.append(6)
a_list.append(7)
print("Output #83: {}".format(a_list))
a_list.remove(5)
print("Output #84: {}".format(a_list))
a_list.pop()
a_list.pop()
print("Output #85: {}".format(a_list))

Output #83: [1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7]
Output #84: [1, 2, 3, 4, 6, 7, 8, 5, 6, 7]
Output #85: [1, 2, 3, 4, 6, 7, 8, 5]

In [0]:
# reverse()함수를 이용하여 리스트 반전하기
# 해당리스트 내에서(인플레이스) 변경이 일어나므로
# 기존 리스트를 변경하지 않고 반전하려면 먼저 ㅅ본을 만들어둬야 한다.
a_list.reverse()
print("Output #86: {}".format(a_list))
a_list.reverse()
print("Output #87: {}".format(a_list))

Output #86: [5, 8, 7, 6, 4, 3, 2, 1]
Output #87: [1, 2, 3, 4, 6, 7, 8, 5]

In [0]:
# sort() 한수를 이용하여 리스트를 인플레이스로 정렬하기
# 이는 리스트가 변경된다는 것을 의미한다. (인플레이스!!!)
# 기존 리스트의 변경 없이 리스트를 정렬하려면, 우선 사본을 만든다.
unordered_list = [3,5,1,7,2,8,4,9,0,6]
print("Output #88: {}".format(unordered_list))
list_copy = unordered_list[:]
list_copy.sort()
print("Output #89: {}".format(list_copy))
print("Output #90: {}".format(unordered_list))

Output #88: [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]
Output #89: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Output #90: [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]

In [0]:
# sorted() 함ㅅ를 이용하여 리스트들의 특정 위치에 따라 리스트 정렬하기
my_lists = [[1,2,3,4],[4,3,2,1],[2,4,1,3]]
my_lists_sorted_by_index_3 = sorted(my_lists, key=lambda index_value: index_value[0])
print("Output #91: {}".format(my_lists_sorted_by_index_3))

Output #91: [[1, 2, 3, 4], [2, 4, 1, 3], [4, 3, 2, 1]]

In [0]:
#!/usr/bin/env python3
from math import exp, log, sqrt
import re
from datetime import date, time, datetime, timedelta
from operator import itemgetter

# itemgetter() 함수를 이용하여 2개 인덱스 위치에 따라 리스트 정렬하기
my_lists = [[123,2,2,444],[22,6,6,444],[354,4,4,678],[236,5,5,678],[578,1,1,290],[461,1,1,290]]
my_lists_sorted_by_index_3_and_0 = sorted(my_lists, key=itemgetter(3,0))
print("Output #92: {}".format(my_lists_sorted_by_index_3_and_0))

Output #92: [[461, 1, 1, 290], [578, 1, 1, 290], [22, 6, 6, 444], [123, 2, 2, 444], [236, 5, 5, 678], [354, 4, 4, 678]]

In [0]:
# 괄호를 사용하여 튜플을 생성하기.
my_tuple = ('x','y','z')
print("Output #93: {}".format(my_tuple))
print("Output #94: my_tuple has {} elements".format(len(my_tuple)))
print("Output #95: {}".format(my_tuple[1]))
longer_tuple = my_tuple + my_tuple
print("Output #96: {}".format(longer_tuple))

Output #93: ('x', 'y', 'z')
Output #94: my_tuple has 3 elements
Output #95: y
Output #96: ('x', 'y', 'z', 'x', 'y', 'z')

In [0]:
# 할당 연산자(=)의 왼편에 튜플을 풀기.
one, two, three = my_tuple
print("Output #97: {0} {1} {2}".format(one, two, three))
var1 = 'red'
var2 = 'robin'
print("Output #98: {} {}".format(var1, var2))
# 변수 간 값 교환하기
var1, var2 = var2, var1
print("Output #99: {} {}".format(var1,var2))

Output #97: x y z
Output #98: red robin
Output #99: robin red

In [0]:
# 투플을 리스트로, 리스트를 튜플로 변환하기
my_list = [1,2,3]
my_tuple = ('x','y','z')
print("Output #100: {}".format(tuple(my_list)))
print("Output #101: {}".format(list(my_tuple)))

Output #100: (1, 2, 3)
Output #101: ['x', 'y', 'z']

In [0]:
# 중괄호를 이용하여 딕셔너리 생성하기
# 각 쌍의 키와 값 사이에 콜론을 사용한다.
# len() 함수는 딕셔너리에 있는 키-값 쌍의 수를 센다.

empty_dict={}
a_dict = {'one':1,'two':2,'three':3}
print("Output #102: {}".format(a_dict))
print("Output #103: a_dict has {!s} elements".format(len(a_dict)))
another_dict = {'x':'printer','y':5, 'z':['star','circle',9]}
print("Output #104: {}".format(another_dict))
print("Output #104: {}".format(another_dict['z'][1]))
print("Output #105: another_dict also has {!s} elements".format(len(another_dict)))

Output #102: {'one': 1, 'two': 2, 'three': 3}
Output #103: a_dict has 3 elements
Output #104: {'x': 'printer', 'y': 5, 'z': ['star', 'circle', 9]}
Output #104: circle
Output #105: another_dict also has 3 elements

In [0]:
# 키를 사용하여 딕셔너리 내 특정 값에 접근하기
print("Output #106: {}".format(a_dict['two']))
print("Output #107: {}".format(another_dict['z']))

Output #106: 2
Output #107: ['star', 'circle', 9]

In [0]:
# copy() 함수를 이용하여 딕셔너리 사본 만들기
a_new_dict = a_dict.copy()
print("Output #108: {}".format(a_new_dict))

Output #108: {'one': 1, 'two': 2, 'three': 3}

In [0]:
# keys(), values(), items()를 사용하여
# 딕셔너리의 키, 값, 키-값 쌍에 접근하기

print("Output #109: {}".format(a_dict.keys()))
print("Output #111: {}".format(a_dict.values()))
print("Output #112: {}".format(a_dict.items()))

Output #109: dict_keys(['one', 'two', 'three'])
Output #111: dict_values([1, 2, 3])
Output #112: dict_items([('one', 1), ('two', 2), ('three', 3)])

In [0]:
if 'y' in another_dict:
  print("Output #114: y is a key in another_dict: {}.".format(another_dict.keys()))
if 'c' not in another_dict:
  print("Output #115: c is not a key in another_dict: {}.".format(another_dict.keys()))
print("Output #116: {!s}".format(a_dict.get('three')))
print("Output #117: {!s}".format(a_dict.get('four')))
print("Output #118: {!s}".format(a_dict.get('four', 'Not in dict')))

Output #114: y is a key in another_dict: dict_keys(['x', 'y', 'z']).
Output #115: c is not a key in another_dict: dict_keys(['x', 'y', 'z']).
Output #116: 3
Output #117: None
Output #118: Not in dict

In [0]:
# sorted() 한수를 이용하여 딗너리 정렬하기
# 원본 딕셔너리를 수정하지 않고 정렬하려면 먼저 사본을 만든다.
print("Output #119:{}".format(a_dict))
dict_copy = a_dict.copy()
ordered_dict1 = sorted(dict_copy.items(), key=lambda item: item[0])
print("Output #120 (order by keys): {}".format(ordered_dict1))
ordered_dict2 = sorted(dict_copy.items(), key=lambda item: item[1])
print("Output #121 (order by values): {}"# .format(ordered_dict2))
ordered_dict3 = sorted(dict_copy.items(), key=lambda x: x[1], reverse=True)
print("Output #122 (order by values, descending): {}".format(ordered_dict3))
ordered_dict4 = sorted(dict_copy.items(), key=lambda x: x[1], reverse=False)
print("Output #123 (order by values, ascending): {}".format(ordered_dict4))

Output #119:{'one': 1, 'two': 2, 'three': 3}
Output #120 (order by keys): [('one', 1), ('three', 3), ('two', 2)]
Output #121 (order by values): [('one', 1), ('two', 2), ('three', 3)]
Output #122 (order by values, descending): [('three', 3), ('two', 2), ('one', 1)]
Output #123 (order by values, ascending): [('one', 1), ('two', 2), ('three', 3)]

In [0]:
# if-else문
x=5
if x > 4 or x != 9:
  print("Output #124: {}".format(x))
else:
  print("Output #125: x is not greater than 4")

Output #124: 5

In [0]:
# if-elif-else 문
if x > 6:
  print("Output #125: x is greater than six")
elif x > 4 and x == 5:
  print("Output #125: {}".format(x*x))
else:
  print("Output #125: x is not greater than 4")

Output #125: 25

In [0]:
y=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
z=['Annie','Betty','Claire','Daphne','Ellie','Franchesca','Greta','Holly','Isabel','Jenny']

print("Output #126:")
for month in y:
  print("{!s}".format(month))
  
print("Output #127: (index value: name in list)")
for i in range(len(z)):
  print("{0!s}: {1:s}".format(i, z[i]))
  
print("Output #128: (access elements in y with z's index values)")
for j in range(len(z)):
  if y[j].startswith('J'):
    print("{!s}".format(y[j]))
    
print("Output #129:")
for key, value in another_dict.items():
  print("{0:s}, {1}".format(key, value))

Output #126:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec
Output #127: (index value: name in list)
0: Annie
1: Betty
2: Claire
3: Daphne
4: Ellie
5: Franchesca
6: Greta
7: Holly
8: Isabel
9: Jenny
Output #128: (access elements in y with z's index values)
Jan
Jun
Jul
Output #129:
x, printer
y, 5
z, ['star', 'circle', 9]

In [0]:
# 리스트 축약을 이용하여 특정 행을 고르기
my_data = [[1,2,3],[4,5,6],[5,8,9]]
rows_to_keep = [row for row in my_data if row[0]>5]
print("Output #130 (list comprehension): {}.".format(rows_to_keep))

Output #130 (list comprehension): [].

In [0]:
# 집합 축약을 이용하여 리스트의 고유한 튜플 집합을 고르기
my_data = [(1,2,3),(4,5,6),(7,8,9),(7,8,9)]
print("Check (original data): {}".format(my_data))
set_of_tuples1 = {x for x in my_data}
print("Output #131 (set comprehension): {}".format(set_of_tuples1))
set_of_tuples2 = set(my_data)
print("Output #132 (set function): {}".format(set_of_tuples2))

Check (original data): [(1, 2, 3), (4, 5, 6), (7, 8, 9), (7, 8, 9)]
Output #131 (set comprehension): {(4, 5, 6), (7, 8, 9), (1, 2, 3)}
Output #132 (set function): {(4, 5, 6), (7, 8, 9), (1, 2, 3)}

In [0]:
# 딕셔너리 축약을 이용하여 특정 키-값 쌍들을 고르기
my_dictionary = {'customer1':7, 'customer2':9, 'customer3':11}
my_results = {key : value for key, value in my_dictionary.items() if value > 10}
print("Output #133 (dictionary comprehension): {}".format(my_results))

Output #133 (dictionary comprehension): {'customer3': 11}

In [0]:
# 숫자 시퀀스의 평균 계산하기
def getMean(numericValues):
  return sum(numericValues)/len(numericValues) if len(numericValues) > 0 else float('nan')

my_list = [2,4,2,4,6,6,8,8]
print("Output #135 (mean): {!s}".format(getMean(my_list)))

Output #135 (mean): 5.0

In [0]:
import numpy
print("Output #136 (mean): {!s}".format(numpy.mean(my_list)))

Output #136 (mean): 5.0

In [0]:
# 숫자 시퀀스의 평균계산하기
def getMean(numericValues):
  return sum(numericValues)/len(numericValues)

my_list2=[]

# 짧은 버전
try:
  print("Output #137: {}".format(getMean(my_list2)))
except ZeroDivisionError as detail:
  print("Output #137 (Error): {}".format(float('nan')))
  print("Output #137 (Error): {}".format(detail))

Output #137 (Error): nan
Output #137 (Error): division by zero

In [0]:
# 긴 버전
try:
  result = getMean(my_list)
except ZeroDivisionError as detail:
  print("Output #138 (Error): {}".format(float('nan')))
  print("Output #138 (Error): {}".format(detail))
else:
  print("Output #138 (The mean is): {}".format(result))
finally:
  print("Output #138 (Finally): The finally block is executed every time")

Output #138 (The mean is): 5.0
Output #138 (Finally): The finally block is executed every time

In [0]:
#!/usr/bin/env python3
from math import exp,log,sqrt
import re
from datetime import date, time, datetime, timedelta
from operator import itemgetter

# 파일읽기
# 하나의 텍스트 파일 읽기
print("Output #139: ")
input_file="file_to_read.txt" #sys.argv[1]
filereader = open(input_file, 'r')
for row in filereader:
  print(row.strip())
filereader.close()

Output #139:
I'm
already
much
better
at
Python

In [0]:
# 새로운 파일 읽기 무법
input_file = "file_to_read.txt" #sys.argv[1]
print("Output #140:")
with open(input_file, 'r', newline='') as filereader:
  for row in filereader:
    print("{}".format(row.strip()))

Output #140:
I'm
already
much
better
at
Python

In [0]:
! rm -rf ./sample_data

In [0]:
#!/usr/bin/env python3
from math import exp, log, sqrt
import re
from datetime import date, time, datetime, timedelta
from operator import itemgetter
import sys
import glob
import os

In [0]:
# 다수의 파일 읽기
print("Output #141:")
inputPath = "./" # sys.argv[1]
for input_file in glob.glob(os.path.join(inputPath,'*.txt')):
  with open(input_file, 'r', newline='') as filereader:
    for row in filereader:
      print("{}".format(row.strip()))

Output #141:
a	b	c	d	e	f	g	h	i	j
0,1,2,3,4,5,6,7,8,9
I'm
already
much
better
at
Python
This
text
comes
from
a
different
text
file.

In [0]:
# 파일 작성하기
# 하나의 텍스트 파일 작성하기
my_letters = ['a','b','c','d','e','f','g','h','i','j']
max_index = len(my_letters)
output_file = "write_to_file.txt" # sys.argv[1]
filewriter = open(output_file,'w')
for index_value in range(len(my_letters)):
  if index_value < (max_index - 1):
    filewriter.write(my_letters[index_value]+'\t')
  else:
    filewriter.write(my_letters[index_value]+'\n')
filewriter.close()
print("Output #142: Output written to file")

Output #142: Output written to file

In [0]:
# CSV파일 작성하기
my_numbers = [0,1,2,3,4,5,6,7,8,9]
max_index = len(my_numbers)
output_file="write_to_file.txt" # sys.argv[1]
filewriter = open(output_file, 'a')
for index_value in range(len(my_numbers)):
  if index_value < (max_index - 1):
    filewriter.write(str(my_numbers[index_value])+',')
  else:
    filewriter.write(str(my_numbers[index_value])+'\n')
filewriter.close()
print("Output #143: Output appended to file")

Output #143: Output appended to file